body {
    background-color: gray;
}

p {
    text-align: center;
}

h1 {
    font-family: sans-serif;
    border-radius: 40px;
    width: 500px;
    text-align: center;
}

.grid {
    width: 600px;
    height: 500px;
    background-color: rgb(159, 175, 159);
}

#time {
    text-align: center;
}
.overall {
    font-family: sans-serif;
    background-color: white;
    text-align: center;
    color: black;
    border-radius: 30px;
    width: 750px;
    height:500px;
}

.overall h1 {
    font-family: sans-serif;
    background-color: white;
    font-size: 60px;
    text-align: center;
    color: black;
}

.overall #question {
    font-family: sans-serif;
    font-size: 30px;
    color: black;
}

.answers {
    margin-top: 30px;
    align-content: center;
}

#btn1, #btn2, #btn3, #btn4 {
    background-color: rgb(63, 92, 63);
    width: 200px;
    height: 50px;
    font-size: 20px;
    align-content: center;
}